<div
  class="min-h-screen py-24 flex flex-col justify-center items-center bg-gray-100 dark:bg-gray-900"
>
  <div
    class="w-full max-w-3xl mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden"
  >
    <div class="p-8">
      <!-- Step 1: Select Dates -->
      <div *ngIf="step === 1" class="step step-dates space-y-6">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          Select Number of Guests
        </h2>
        <form [formGroup]="bookingForm" class="space-y-4">
          <div>
            <label
              for="numberOfGuests"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300"
              >Number of Guests</label
            >
            <input
              type="number"
              id="numberOfGuests"
              formControlName="numberOfGuests"
              class="input"
              min="1"
            />
          </div>
        </form>
      </div>

      <!-- Step 2: Select Start Date -->
      <div *ngIf="step === 2" class="step step-start-date space-y-6">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          Select Start Date
        </h2>
        <div class="space-y-4">
          <p class="text-sm text-gray-600 dark:text-gray-400">
            Available Dates:
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <button
              *ngFor="let date of availableStartDates"
              (click)="onSelectStartDate(date)"
              [class.bg-blue-500]="bookingForm.value.startDate === date"
              [class.text-white]="bookingForm.value.startDate === date"
              class="border border-gray-300 dark:border-gray-600 rounded-md p-2 hover:bg-gray-200 dark:hover:bg-gray-700"
            >
              {{ date | date : 'longDate' }}
            </button>
          </div>
        </div>
      </div>

      <!-- Step 3: Review Your Booking -->
      <div *ngIf="step === 3" class="step step-review space-y-6">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          Review Your Booking
        </h2>
        <div class="flex items-center space-x-6">
          <img
            [src]="tourDetails!.imageCover"
            alt="{{ tourDetails!.name }}"
            class="w-28 h-28 rounded-lg shadow-md object-cover"
          />
          <div>
            <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
              {{ tourDetails!.name }}
            </h3>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              Duration: {{ tourDetails!.duration }} days
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              Guests: {{ bookingForm.value.numberOfGuests }} people
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              Price: ${{
                tourDetails!.price * bookingForm.value.numberOfGuests
              }}
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              Selected Date:
              {{ bookingForm.value.startDate | date : 'longDate' }}
            </p>
          </div>
        </div>
      </div>

      <!-- Step 4: Payment -->
      <div *ngIf="step === 4" class="step step-payment space-y-6">
        <app-payment
          [amount]="tourDetails!.price * bookingForm.value.numberOfGuests"
          [tourSlug]="tourDetails!.slug"
          [startDate]="bookingForm.value.startDate"
          [totalPeople]="bookingForm.value.numberOfGuests"
          #paymentComponent
        ></app-payment>
      </div>

      <!-- Navigation Buttons -->
      <div class="flex justify-between mt-6">
        <button
          *ngIf="step > 1"
          class="btn-secondary"
          (click)="onPreviousStep()"
        >
          Previous
        </button>
        <button class="btn-primary" (click)="onNextStep()">
          {{ step === 4 ? 'Confirm Booking' : step === 3 ? 'Pay Now' : 'Next' }}
        </button>
      </div>
    </div>
  </div>
</div>
