<div class="flex flex-col md:flex-row relative flex-1 min-h-[1000px] py-20">
  <!-- Sidebar -->
  <aside
    class="sm:sticky top-28 w-full md:w-1/4 lg:w-1/5 items-center mx-24 self-start"
  >
    <app-filters />
  </aside>

  <div class="flex flex-col items-start relative">
    <!-- Pagination Controls -->
    <ng-container *ngIf="currentPage$ | async as currentPage">
      <ng-container *ngIf="totalPages$ | async as totalPages">
        <div
          class="flex self-center justify-center items-center space-x-6 mt-8"
        >
          <!-- Previous Button -->
          <button
            class="px-6 py-3 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-300 rounded-md hover:bg-gray-300 dark:hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="currentPage === 1"
            (click)="prevPage(currentPage)"
          >
            <i class="fas fa-chevron-left mr-2"></i> Previous
          </button>

          <!-- Page Indicator -->
          <span class="text-lg font-medium text-gray-800 dark:text-gray-300">
            Page {{ currentPage }} of {{ totalPages }}
          </span>

          <!-- Next Button -->
          <button
            class="px-6 py-3 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-300 rounded-md hover:bg-gray-300 dark:hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="currentPage === totalPages"
            (click)="nextPage(currentPage, totalPages)"
          >
            Next <i class="fas fa-chevron-right ml-2"></i>
          </button>
        </div>
      </ng-container>
    </ng-container>

    <!-- Tours Feed -->
    <ng-container *ngIf="toursFeed$ | async as toursFeed; else noData">
      <div
        *ngFor="let post of toursFeed.tours"
        class="z-1 bg-white dark:bg-gray-800 rounded-lg shadow-md over w-full max-w-3xl my-14"
      >
        <!-- Swipeable Image Slider -->
        <div class="relative overflow-hidden rounded-lg">
          <swiper-container
            [slides-per-view]="1"
            [space-between]="10"
            navigation
            [pagination]="{ clickable: true }"
          >
            <swiper-slide *ngFor="let image of post.images">
              <div
                class="w-full h-96 bg-cover bg-center"
                [style.backgroundImage]="'url(' + image + ')'"
              ></div>
            </swiper-slide>
          </swiper-container>
          <div class="z-10 absolute bottom-4 right-4">
            <button
              class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition-all"
              [routerLink]="['/dashboard/tours', post.slug]"
            >
              View Details
            </button>
          </div>
        </div>

        <!-- Post Info -->
        <div class="p-4">
          <h3 class="text-xl font-bold text-gray-800 dark:text-white">
            {{ post.name }}
          </h3>
          <p class="text-gray-600 dark:text-gray-400 mt-2">
            {{ post.description }}
          </p>
          <div class="mt-4 flex justify-between items-center">
            <div class="text-sm">
              <p class="text-gray-800 dark:text-gray-300">
                <i class="fas fa-clock mr-2"></i>{{ post.duration }} days
              </p>
              <p class="text-gray-800 dark:text-gray-300">
                <i class="fas fa-user-friends mr-2"></i>Group Size:
                {{ post.maxGroupSize }}
              </p>
            </div>
            <div>
              <span class="text-green-600 font-bold text-lg"
                >${{ post.price }}</span
              >
              <span class="text-gray-500 text-sm">/person</span>
            </div>
          </div>
        </div>

        <!-- Comments
        <div class="p-4 border-t border-gray-200 dark:border-gray-700">
          <h4 class="text-gray-800 dark:text-white font-semibold">Comments</h4>
          <div *ngFor="let comment of post.comments" class="mt-2">
            <p class="text-gray-800 dark:text-white font-semibold">
              {{ comment.user }}
            </p>
            <p class="text-gray-600 dark:text-gray-400">{{ comment.text }}</p>
          </div>
        </div> -->
      </div>
    </ng-container>

    <!-- Pagination Controls -->
    <ng-container *ngIf="currentPage$ | async as currentPage">
      <ng-container *ngIf="totalPages$ | async as totalPages">
        <div
          class="flex self-center justify-center items-center space-x-6 mt-8"
        >
          <!-- Previous Button -->
          <button
            class="px-6 py-3 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-300 rounded-md hover:bg-gray-300 dark:hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="currentPage === 1"
            (click)="prevPage(currentPage)"
          >
            <i class="fas fa-chevron-left mr-2"></i> Previous
          </button>

          <!-- Page Indicator -->
          <span class="text-lg font-medium text-gray-800 dark:text-gray-300">
            Page {{ currentPage }} of {{ totalPages }}
          </span>

          <!-- Next Button -->
          <button
            class="px-6 py-3 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-300 rounded-md hover:bg-gray-300 dark:hover:bg-gray-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
            [disabled]="currentPage === totalPages"
            (click)="nextPage(currentPage, totalPages)"
          >
            Next <i class="fas fa-chevron-right ml-2"></i>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <div class="flex items-center justify-center w-full h-[500px]">
    <p class="text-gray-600 dark:text-gray-400">No tours found.</p>
  </div></ng-template
>
