<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="img/nat-8.jpg" alt="Tour photo" class="popup__img" />
      <img src="img/nat-9.jpg" alt="Tour photo" class="popup__img" />
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary u-margin-bottom-medium">
        Start booking now
      </h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &mdash; Please read these terms before booking!
      </h3>
      <p class="popup__text">
        Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh
        sit. Cras semper auctor neque vitae tempus quam pellentesque. Pulvinar
        pellentesque habitant morbi tristique senectus et netus. Pellentesque
        massa placerat duis ultricies lacus sed. In egestas erat imperdiet sed
        euismod nisi porta lorem mollis. Viverra maecenas accumsan lacus vel
        facilisis volutpat est. Pharetra diam sit amet nisl suscipit adipiscing.
        Convallis convallis tellus id interdum velit. Turpis egestas sed tempus
        urna et pharetra pharetra. Id semper risus in hendrerit gravida rutrum
        quisque non.
      </p>
      <a href="#" class="btn btn--green">Book now</a>
    </div>
  </div>
</div>
