// Primary Colors
$color-primary: #3ba371;
$color-primary-light: #67c28e;
$color-primary-dark: #2a7a50;

// Secondary Colors
$color-secondary: #f4a261;
$color-secondary-light: #f8c49a;
$color-secondary-dark: #dd7b34;

// Tertiary Colors
$color-tertiary: #ff6f61;
$color-tertiary-light: #ff9a8d;
$color-tertiary-dark: #d9534f;

// Grayscale
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
