<section class="section-tours" id="section-tours">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Most popular tours</h2>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__pic card__pic--1">&nbsp;</div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--1"
              >The sea explorer</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>3 day tours</li>
              <li>Upto to 30 people</li>
              <li>2 tour guides</li>
              <li>Sleep in cozy hotels</li>
              <li>Difficulty: easy</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Only</p>
              <p class="card__price-value">$267</p>
            </div>
            <a href="#popup" class="btn btn--white">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__pic card__pic--2">&nbsp;</div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--2"
              >The forest hiker</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>7 day tours</li>
              <li>Upto to 40 people</li>
              <li>6 tour guides</li>
              <li>Sleep in provided tents</li>
              <li>Difficulty: medium</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Only</p>
              <p class="card__price-value">$699</p>
            </div>
            <a href="#popup" class="btn btn--white">Book now!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side--front">
          <div class="card__pic card__pic--3">&nbsp;</div>
          <h4 class="card__heading">
            <span class="card__heading-span card__heading-span--3"
              >The snow adventurer</span
            >
          </h4>
          <div class="card__details">
            <ul>
              <li>5 day tours</li>
              <li>Upto to 15 people</li>
              <li>3 tour guides</li>
              <li>Sleep in capsules</li>
              <li>Difficulty: hard</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__cta">
            <div class="card__price-box">
              <p class="card__price-only">Only</p>
              <p class="card__price-value">$499</p>
            </div>
            <a href="#popup" class="btn btn--white">Book now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn btn--green">Discover all tours</a>
  </div>
</section>
