<section class="section-stories">
  <div class="bg-vid">
    <video class="bg-vid__content" autoplay loop>
      <source src="img/video.mp4" type="video/mp4" />
      <source src="img/video.webm" type="video/webm" />
      Your browser is not supported!
    </video>
  </div>
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">We make people genuinely happy</h2>
  </div>
  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="img/nat-8.jpg" alt="User" class="story__image" />
        <figcaption class="story__caption">Lorraine Butler</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">
          I had the best week of my life with my family
        </h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
          obcaecati dicta ratione magnam rem quisquam quis autem quia, illo
          dolor distinctio nihil delectus, dolore aliquam velit dolores?
          Voluptatum, voluptatem doloremque. Eaque beatae, nihil maiores
          quibusdam quasi voluptatum.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="img/nat-9.jpg" alt="User" class="story__image" />
        <figcaption class="story__caption">John Reese</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">
          Literally had the time of my life
        </h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
          obcaecati dicta ratione magnam rem quisquam quis autem quia, illo
          dolor distinctio nihil delectus, dolore aliquam velit dolores?
          Voluptatum, voluptatem doloremque. Eaque beatae, nihil maiores
          quibusdam quasi voluptatum.
        </p>
      </div>
    </div>
  </div>
  <div class="u-center-text u-margin-top-huge">
    <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div>
</section>
